<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- Berechtigung zum Zugriff auf das Internet -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- Berechtigung zum lesen des Netzwerk Statuses -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="EnergizeMe"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyFirstApp"
        tools:targetApi="31">
        <activity
            android:name=".Testtest"
            android:exported="false"
            android:label="@string/title_activity_testtest"
            android:theme="@style/Theme.MyFirstApp" />
        <activity
            android:name=".test"
            android:exported="false" />
        <activity
            android:name="com.example.EnergizeMe.myfirstapp.ui.main.Tracked.Lebensmittel_Tracked"
            android:exported="false"
            android:label="@string/title_activity_lebensmittel_tracked"
            android:theme="@style/Theme.MyFirstApp" />
        <activity
            android:name="com.example.EnergizeMe.myfirstapp.ui.main.Tracked.Activity_Tracked"
            android:exported="false"
            android:label="@string/title_activity_tracked"
            android:theme="@style/Theme.MyFirstApp" />
        <activity
            android:name="com.example.EnergizeMe.myfirstapp.ui.main.Tracking.Tracking_Lebensmittel"
            android:exported="false"
            android:label="@string/title_activity_tracking_lebensmittel"
            android:theme="@style/Theme.MyFirstApp" />
        <activity
            android:name="com.example.EnergizeMe.myfirstapp.ui.main.Tracking.Tracking"
            android:exported="false"
            android:label="@string/title_activity_tracking"
            android:theme="@style/Theme.MyFirstApp" />
        <activity
            android:name="com.example.EnergizeMe.myfirstapp.ui.main.MeinProfil"
            android:exported="false"
            android:label="@string/title_activity_mein_profil"
            android:theme="@style/Theme.MyFirstApp" />
        <activity
            android:name="com.example.EnergizeMe.myfirstapp.ui.main.MeinTag"
            android:exported="false"
            android:label="@string/title_activity_mein_tag"
            android:theme="@style/Theme.MyFirstApp" />
        <activity
            android:name="com.example.EnergizeMe.myfirstapp.ui.main.MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.EnergizeMe.myfirstapp.ui.main.UserView"
            android:label="@string/app_name"
            android:theme="@style/AppTheme" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>